* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* #particles-js {
  height: 100vh;
  width: 100vw;
  background: url("back11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
   object-fit: cover;
} */

.container {
  min-height: 100vh;
  width: 100vw;
  background: url("back11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  color: aliceblue;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  min-height: 10vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  pointer-events: all;
}

header h1 {
  color: white;
  flex: 2;
  flex-shrink: 0;
  margin-left: 10px;
  pointer-events: all;
}
nav ul,
a:any-link {
  text-decoration: none;
  list-style: none;
  color: white;
}

header a:hover {
  color: rgb(161, 173, 201);
  text-decoration: none;
  text-shadow: 0 0 3px #11e3f1;
  font-size: larger;
}
header nav {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-family: "Roboto", sans-serif;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  width: 100%;
}

.cursor {
  /* border: 2px solid #0ff;
  border-radius: 2px; */
  position: absolute;
  transform: translate(-200%, -200%);
  pointer-events: none;
  z-index: 3;
  transition: all 0.3 ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  /* box-shadow: 60px 40px 20px 10px #0ff; */
  backdrop-filter: blur();
  box-shadow: 0 0 6px 3px #fff, /* inner white */ 0 0 10px 6px #f0f,
    /* middle magenta */ 0 0 28px 18px #0ff;
}

.link-grow {
  transform: scale(2);
  background: rgba(248, 244, 137, 0.5);
}

.veil {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(16, 16, 31, 0.8);
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

@media all and (max-width: 500px) {
  #particle-js {
    background: url("back12.jgp");
  }
}
